<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <title>TChapinas</title>

    <style>
        .bg-pattern {
            background-image: url("https://e0.pxfuel.com/wallpapers/438/350/desktop-wallpaper-charlie-brown-snoopy-sunset-at-the-dock-snoopy-snoopy-snoopy-snoopy-summer.jpg");
        }
    </style>
</head>
<body>
    {% include "navbar.html" %}

    <div class="h-screen bg-pattern flex items-center justify-center">
        <div class="text-center">
            <h1 class="text-4xl font-bold text-green">Brayan Alexander Guzman Margos-202105658</h1>
        </div>
    </div>
</body>
</html>
