<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Tailwind CDN -->

    <title>TChapinas</title>
  </head>
  <body>
    {% include "navbar.html" %}

    <div
    class="h-screen mt-[70px] w-full bg-cover bg-center flex items-center justify-center"
    style="background-image: url('https://i0.wp.com/w.forfun.com/fetch/28/28ee66a2ae4e36d74d392e32f270060f.jpeg?=1ssl');"
    >
      <div
        class="w-full max-w-md p-6 shadow-2xl rounded-lg flex flex-col items-center"
        style="background-image: url('https://i0.wp.com/w.forfun.com/fetch/28/28ee66a2ae4e36d74d392e32f270060f.jpeg?=1ssl');"
      >
        <div class="mb-6">
          <img
            src="https://i.postimg.cc/rFhhgGGC/thumb-1920-519577-removebg-preview.png"
            class="w-[400px] h-[400px] rounded-lg"
            alt="Logo Tecnologías Chapinas"
          />
        </div>
        <h1 class="text-2xl font-bold mb-8">Tecnologías Chapinas</h1>
        <p class="text-center">
          Tecnología que Impulsa Guatemala
        </p>
      </div>
    </div>
  </body>
</html>